@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 320 - 768 */
/* 768 - 992 */
/* 992+ */

@media (max-height: 667px) {
    .small-image-tg {
        display: none;
    }
    .small-image-info {
        display: none;
    }
}

@media (max-width: 992px) {
    #track-cover {
        display: none;
    }
}

@media (max-width: 667px) {
    .text-info {
        display: none !important;
    }
    #track-cover {
        display: flex !important;
    }
    .audio-playing-gif img {
        display: flex !important;
    }
}

@media (max-width: 568px) {
    .text-info {
        display: none !important;
    }
    #track-cover {
        display: flex !important;
    }
    .audio-playing-gif img {
        display: none !important;
    }

    html.light {
        --slope: rotate(0deg) !important;
        --particles-width: 50% !important;
    }
}


:root {
    /* z-index */

    /* header - 4*/
    /* main - 1*/
    /* bottom - 4*/
    /* elements - 7 */
    --main-z-index: 1;
    --background-z-index: -1;
    --header-z-index: 4;
    --bottom-z-index: 4;
    --elements-z-index: 7;
}

html.light {
    --bg-color: #dcdcdc;
    --text-color: black;
    --main-color: white;
    --telegram-logo: url('../img/telegram-logo-light.png');
    --info-logo: url('../img/info-logo-light.png');
    --bg-img: url('https://i.pinimg.com/originals/df/eb/0a/dfeb0aa8361199982c050bf08924a9b2.jpg') center/cover;
    --slope: rotate(-70deg);
    --particles-width: 30%;
}

html.dark {
    --bg-color: black;
    --main-color: #0f0f0f;
    --text-color: white;
    --telegram-logo: url('../img/telegram-logo-dark.png');
    --info-logo: url('../img/info-logo-dark.png');
    --bg-img: url('https://i.pinimg.com/originals/05/60/2f/05602f4b3cf0f32d2bcddd9f827a3083.jpg') center/cover;
    --slope: rotate(0deg);
    --particles-width: 100%;
}

.small-image-tg {
    z-index: var(--elements-z-index);
    margin-top: -15px;  
    padding: 15px;
    margin-right: 15px;
    max-height: 30px;
    max-width: 30px;
    background-image: var(--telegram-logo);
    background-size: cover;
}

.small-image-info {
    margin-top: -15px;
    padding: 15px;
    max-height: 30px;
    max-width: 30px;
    background-image: var(--info-logo);
    background-size: cover;
}

/* Music bar */
.music-bar {
    max-height: 70px;
    position: fixed;
    color: var(--text-color);
    max-width: 35%;
    z-index: var(--elements-z-index);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.track-info {
    font-family: 'Montserrat';
    font-weight: 300;
    /* margin-top: 5px; */
    display: flex;
    align-items: center;
}

.audio-playing-gif img {
    padding-left: 10px;
    padding-top: 15px;
    width: 25px;
    height: 25px;
}

.text-info {
    display: flex;
    flex-direction: column;
}

.track-name {
    font-family: 'Montserrat';
    font-weight: 300;   
    margin: 0;
    margin-left: 5px;
}

.track-author {
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 5px;
}

/* Header */
.header-container {
    position: fixed;
    text-align: center;
    top: 0;
    z-index: var(--header-z-index);
    width: 70px;
    width: 100%;
    display: flex;
    background-color: var(--bg-color);
    justify-content: center;
    padding: 10px;
}

.theme-switch-button {
    position: fixed;
    z-index: var(--elements-z-index);
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#switch {
    width: 30px;
    height: 30px;
}

/* Text */

.header-text {
    color: var(--text-color);
    text-align: center;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.bottom-container {
    background-color: var(--bg-color);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* border-top: 1px solid #ccc; */
}

.bottom-text {
    color: var(--text-color);
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Background */

body {
    background-color: var(--main-color);
    margin: 0;
    z-index: var(--main-z-index);
    display: flex;
    flex-direction: column;
    height: 100vh; /* Use viewport height instead of percentage */
    width: 100%;
    overflow: hidden;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--background-z-index);
    background: var(--bg-img);
    background-size: cover;
    background-position: center;
    will-change: transform;
}

.particles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--particles-width);
    height: 100%;
    pointer-events: none;
    transform: var(--slope)
}

.particle {
    position: absolute;
    background-color: var(--text-color);
    border-radius: 50%;
    animation-timing-function: linear;
}

@keyframes fall {
    to {
        transform: translateX(100vw) translateY(100vh);
        opacity: 0;
    }
}

/* Main */

.sociality {
    z-index: var(--elements-z-index); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will make the container take up the full height of the viewport */
    flex-direction: column; /* This will stack the children vertically */
}

.sociality p {
    width: 350px;
    color: var(--text-color);
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 200;
    margin: 15px;
    font-size: 52pt;
    transform: translateX(80%);
}

@media (max-width: 767px) or (max-height: 600px){
    .sociality p {
        transform: translateX(0);
    }

    #track-cover {
        display: none;
    }

    .audio-playing-gif img {
        display: none;
    }
}

/* Running line */

.running-line {
    font-family: 'Montserrat';
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    writing-mode: vertical-lr;
    color: var(--text-color);
    font-size: 21px;
}

.running-line span {
    margin: 10px 0;
    animation: runningLine 7s linear infinite;
    white-space: nowrap;
}

@keyframes runningLine {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}
